<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css"> </head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>


        <!-- <div  id="root" style="height: 100%" /> -->
        <div>
            <a href="randomColor/">Random Color</a>
        </div>
        <div>
            <a href="musicBox/">Music box</a>
        </div>
        <div>
            <a href="albumSlides/">Slidy Album</a>
        </div>



    <div class="container"> {{ content }} </div>
    <!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
            <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
        </ul>
    </footer>
</body>

</html>
