<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css"> </head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="randomColor/">Random Color</a></li>
            <li><a href="musicBox/">Music box</a></li>
            <li><a href="albumSlides/">Slidy Album</a></li>
            <li></li>
            <li></li>
            <li></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>




    <div class="container"> {{ content }} </div>
    <!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:tmhs.bits@gmail.com">email</a></li>
            <li><a href="https://github.com/imtmh">github.com/imtmh</a></li>
        </ul>
    </footer>
</body>

</html>
